language: php
sudo: false
matrix:
    include:
        - php: 7.1
          env: deps=high
        - php: 7.1
          env: deps=low
    fast_finish: true

before_install:
    - composer install --no-interaction

script:
    - ./vendor/bin/phpunit --process-isolation

notifications:
    email: "xavier@pandawan-technology.com"